# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [1]:
import pandas as pd
import sqlite3 as sl
df=pd.read_csv("tv_shows.csv")
df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5363,5363,5713,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,1
5364,5364,5714,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,1
5365,5365,5715,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,1
5366,5366,5716,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,1
5367,5367,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,1

In [2]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df.head(5)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [5]:
df.rename(columns={'Rotten Tomatoes':'Rottentomatoes','Prime Video':'Primevideo','Disney+':'Disney'},inplace=True)
df.columns

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rottentomatoes', 'Netflix',
       'Hulu', 'Primevideo', 'Disney', 'Type'],
      dtype='object')

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [7]:
con = sl.connect('tv.db')
df.to_sql("shows1",con)

5368

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [8]:
data=pd.read_sql_query("SELECT * FROM shows1 LIMIT 20",con)
data.head()

,index,ID,Title,Year,Age,IMDb,Rottentomatoes,Netflix,Hulu,Primevideo,Disney,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [10]:
with con:
    data = con.execute('select * from shows1 where id <=20')
    for row in data:
        print(row)

(0, 1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(1, 2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(2, 3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(3, 4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(4, 5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(5, 6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(6, 7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(7, 8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(8, 9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(9, 10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(10, 11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(11, 12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(12, 13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(13, 14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(14, 15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(15, 16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(16, 17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(17, 18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(18, 19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(19, 20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

Now add a table that includes an id number and the titles on your watchlist.

In [24]:
with con:
    con.execute("""CREATE TABLE watchlist(
                     id  INTEGER PRIMARY KEY NOT NULL,
                     title VARCHAR(50)) ;        
                     """)

In [11]:
sql='INSERT INTO watchlist (id,title) Values(?,?)'
data=[   (1,'Downtown Abbey'),
          (2,'Bridgeton'),
          (3, 'Shadow and Bone'),
          (4, 'Great Britan Baking show'),
          (5, 'The Dickinson'),
          (6, 'The Mandalorian'),
          (7,'Big little lies'),
          (8,'Making the cut'),
          (9,'The Real Housewives of Beverley Hills'),
          (10,'Father Brown')]
with con:
    con.executemany(sql,data)

In [12]:
with con:
    data= con.execute("select * from watchlist")
for row in data:
  print(row)

(1, 'Downtown Abbey')
(2, 'Bridgeton')
(3, 'Shadow and Bone')
(4, 'Great Britan Baking show')
(5, 'The Dickinson')
(6, 'The Mandalorian')
(7, 'Big little lies')
(8, 'Making the cut')
(9, 'The Real Housewives of Beverley Hills')
(10, 'Father Brown')

In [27]:
with con:
   sql = 'Insert into watchlist(id,title)  values(?,?)'
   data = [
          (11, 'Breaking Bad'),
          (12, 'Stranger Things')
    ]
   con.executemany(sql,data)

In [28]:
with con:
    data= con.execute("select * from watchlist")
for row in data:
  print(row)

(1, 'Downtown Abbey')
(2, 'Bridgeton')
(3, 'Shadow and Bone')
(4, 'Great Britan Baking show')
(5, 'The Dickinson')
(6, 'The Mandalorian')
(7, 'Big little lies')
(8, 'Making the cut')
(9, 'The Real Housewives of Beverley Hills')
(10, 'Father Brown')
(11, 'Breaking Bad')
(12, 'Stranger Things')

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [29]:
print(df.describe())
print(df['Netflix'].value_counts())
print(df['Hulu'].value_counts())
print(df['Disney'].value_counts())
print(df['Primevideo'].value_counts())

                ID         Year      Netflix         Hulu   Primevideo  \
count  5368.000000  5368.000000  5368.000000  5368.000000  5368.000000
mean   2814.945790  2012.628726     0.367176     0.301975     0.341095
std    1672.385727    10.142813     0.482080     0.459157     0.474122
min       1.000000  1904.000000     0.000000     0.000000     0.000000
25%    1345.750000  2011.000000     0.000000     0.000000     0.000000
50%    2788.000000  2016.000000     0.000000     0.000000     0.000000
75%    4308.250000  2018.000000     1.000000     1.000000     1.000000
max    5717.000000  2021.000000     1.000000     1.000000     1.000000

            Disney    Type
count  5368.000000  5368.0
mean      0.065387     1.0
std       0.247231     0.0
min       0.000000     1.0
25%       0.000000     1.0
50%       0.000000     1.0
75%       0.000000     1.0
max       1.000000     1.0
0    3397
1    1971
Name: Netflix, dtype: int64
0    3747
1    1621
Name: Hulu, dtype: int64
0    5017
1     351
Name: Disney, dtype: int64
0    3537
1    1831
Name: Primevideo, dtype: int64

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [30]:
join_df = pd.read_sql(""" select shows1.Netflix ,shows1.Hulu,shows1.Disney,shows1.Primevideo,watchlist.title 
from watchlist join shows1 on shows1.Title == watchlist.title;""" , con )

In [31]:
join_df.head(10)

   Netflix  Hulu  Disney  Primevideo            title
0        1     0       0           0  Shadow and Bone
1        0     0       1           0  The Mandalorian
2        1     0       0           0     Breaking Bad
3        1     0       0           0  Stranger Things

In [34]:
join_df.to_sql("Watchlist_shows2",con)

4

In [35]:
cursor = con.execute('select * from watchlist_shows2')
for row in cursor:
    print(row)

(0, 1, 0, 0, 0, 'Shadow and Bone')
(1, 0, 0, 1, 0, 'The Mandalorian')
(2, 1, 0, 0, 0, 'Breaking Bad')
(3, 1, 0, 0, 0, 'Stranger Things')

In [24]:
print(join_df.info())

print(join_df.describe())

print(join_df['Netflix'].value_counts())
print(join_df['Hulu'].value_counts())
print(join_df['Primevideo'].value_counts())
print(join_df['Disney'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Netflix     2 non-null      int64
 1   Hulu        2 non-null      int64
 2   Disney      2 non-null      int64
 3   Primevideo  2 non-null      int64
 4   title       2 non-null      object
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes
None
        Netflix  Hulu    Disney  Primevideo
count  2.000000   2.0  2.000000         2.0
mean   0.500000   0.0  0.500000         0.0
std    0.707107   0.0  0.707107         0.0
min    0.000000   0.0  0.000000         0.0
25%    0.250000   0.0  0.250000         0.0
50%    0.500000   0.0  0.500000         0.0
75%    0.750000   0.0  0.750000         0.0
max    1.000000   0.0  1.000000         0.0
1    1
0    1
Name: Netflix, dtype: int64
0    2
Name: Hulu, dtype: int64
0    2
Name: Primevideo, dtype: int64
0    1
1    1
Name: Disney, dtype: int64

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?
2. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?
3. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?